aws_region  = "eu-central-1"
environment = "dev"

allowed_email_domains = ["yourdomain.com"]

cognito_callback_urls = [
  "http://localhost:3000/callback",
  "http://localhost:3000"
]

cognito_logout_urls = [
  "http://localhost:3000/logout",
  "http://localhost:3000"
]

ses_from_email = "noreply@yourdomain.com"
admin_email    = "admin@yourdomain.com"

notification_emails = ["admin@yourdomain.com"]

cors_allowed_origins = [
  "http://localhost:3000",
  "https://localhost:3000"
]

frontend_repository_url = "https://github.com/username/repo"
github_access_token     = "ghp_xxxxxxxxxxxxxxxxxxxx"
frontend_branch_name    = "main"